body {
  letter-spacing: 0.20px
}
@media (prefers-reduced-motion: no-preference) {
  * {
    scroll-behavior: smooth;
  }
}

.header {
  font-family: Helvetica;

}
.header > ul {
  width: 18vw;
  height:100%;
  position: fixed;
  list-style-type: none;
  font-size: 24;
  border-right: 5px solid black; 
  margin-left: 0;
  padding-left:0px;
  background: #191970;
  text-align: center;
}

.header ul > li {
margin: 10vw 0;
/* border-bottom: 5px solid black */
}

li > a {
  text-decoration: none;
  color: white;
}
h1 {
  position:fixed;
  font-size: 1.53vw;
  z-index: 1;
  background: white;
  margin: 0;
  top: 0;
  margin-top: 2.2vh;
}
.main-section {
  margin-left: 21.5vw;
  margin-right: 6vw;
  margin-top: 6.94vh;
}

#intro {
  margin-top: 7vh;
}

.introduction1 {
  margin-top: 4vh;
}

.text-list {
  font-size: 20px;
}
p {
  font-size: 20px;
  margin-top: 1.8vh;
  margin-bottom: 6.94vh;
  font-family: sans-serif;
}

#gb-ganglogs {
  height: auto;
  width: 70%;
}

.header > ul > li > a:hover {
  background-color: #dfdfe2;
  color: #191970;
  cursor: pointer;
}
h2 {
  margin-top: 6.94vh;
  font-family: Helvetica;
  font-size: 30;
}

#golden-brotherhood {
  height: auto;
  width: 12.11vw;  
}

#abd-logo {
  height: auto;
  width: 15.625vw;
}
#ultimus-asteri {
  display: block;
  margin-left: 7.8125vw;
  width: 25%;
  height: auto;
  margin-bottom: 6.94vh;
}
.pre-gangs-era {
  margin-bottom: 2vh;
}

#grand-order-logo {
  height: auto;
  width: 25%
}
.pre-gang-img {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  gap: 16px;
}
#kars {
  height: auto;
  width: 35%
}
.players {
  margin-left: 3.60625vw;
}

#samurai {
  height: auto;
  width: 35%
}
#stw {
  height:auto;
  width: 35%
}
#yt-thumbnail {
  display: block;
  margin-right: 7.8125vw;
  margin-bottom: 6.944vh;
  width: 35%;
}
address {
  text-align: center;
  padding: 0.3em;
  margin-left: 18vw
}
#logo {
  z-index: 1;
  position: fixed;
  width: 17.5vw;
  height: auto;
  margin-top: 78vh;
  margin-left: 0.3125vw;
}







